.ant-modal-wrap, .ant-modal {
    z-index: 3002 !important;
}

.ant-modal-mask {
    z-index: 3001 !important;
}

.ant-select-dropdown {
    z-index: 3003 !important;
}

.ant-picker-dropdown {
    z-index: 3003 !important;
}